In [2]:
# Importing necessary libraries

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#from pandas_profiling import ProfileReport

In [3]:

# Load each related table into separate DataFrames

game_goalie_stats = pd.read_csv('game_goalie_stats.csv')
game_goals= pd.read_csv('game_goals.csv')
game_officials = pd.read_csv('game_officials.csv')
game_penalties = pd.read_csv('game_penalties.csv')
game_plays_players = pd.read_csv('game_plays_players.csv')
game_plays = pd.read_csv('game_plays.csv')
game_scratches = pd.read_csv('game_scratches.csv')
game_shifts = pd.read_csv('game_shifts.csv')
game_skater_stats = pd.read_csv('game_skater_stats.csv')
game_teams_stats = pd.read_csv('game_teams_stats.csv')
game = pd.read_csv('game.csv')
player_info = pd.read_csv('player_info.csv')
team_info = pd.read_csv('team_info.csv')

C:\Users\nikit\AppData\Local\Temp\ipykernel_10620\1676218544.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  game_goals= pd.read_csv('game_goals.csv')

In [4]:
game.head()

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,right,United Center,/api/v1/venues/null,America/Chicago,-5,CDT
1,2017020812,20172018,R,2018-02-07T00:00:00Z,24,7,4,3,away win OT,left,KeyBank Center,/api/v1/venues/null,America/New_York,-4,EDT
2,2015020314,20152016,R,2015-11-24T01:00:00Z,21,52,4,1,away win REG,right,MTS Centre,/api/v1/venues/null,America/Winnipeg,-5,CDT
3,2015020849,20152016,R,2016-02-17T00:00:00Z,52,12,1,2,home win REG,right,PNC Arena,/api/v1/venues/null,America/New_York,-4,EDT
4,2017020586,20172018,R,2017-12-30T03:00:00Z,20,24,1,2,home win REG,left,Honda Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT

In [5]:
player_info.head()

,player_id,firstName,lastName,nationality,birthCity,primaryPosition,birthDate,birthStateProvince,height,height_cm,weight,shootsCatches
0,8466148,Marian,Hossa,SVK,Star√° Lubovna,RW,1979-01-12 00:00:00,NaN,"6' 1""",185.42,207.0,L
1,8465058,Michal,Rozsival,CZE,Vlasim,D,1978-09-03 01:00:00,NaN,"6' 1""",185.42,210.0,R
2,8476906,Shayne,Gostisbehere,USA,Pembroke Pines,D,1993-04-20 01:00:00,FL,"5' 11""",180.34,180.0,L
3,8466285,Brian,Campbell,CAN,Strathroy,D,1979-05-23 01:00:00,ON,"5' 10""",177.80,192.0,L
4,8470607,Brent,Seabrook,CAN,Richmond,D,1985-04-20 01:00:00,BC,"6' 3""",190.50,220.0,R

In [6]:
team_info.head()

,team_id,franchiseId,shortName,teamName,abbreviation,link
0,1,23,New Jersey,Devils,NJD,/api/v1/teams/1
1,4,16,Philadelphia,Flyers,PHI,/api/v1/teams/4
2,26,14,Los Angeles,Kings,LAK,/api/v1/teams/26
3,14,31,Tampa Bay,Lightning,TBL,/api/v1/teams/14
4,6,6,Boston,Bruins,BOS,/api/v1/teams/6

In [7]:
game_goalie_stats.describe()

,game_id,player_id,team_id,timeOnIce,assists,goals,pim,shots,saves,powerPlaySaves,shortHandedSaves,evenSaves,shortHandedShotsAgainst,evenShotsAgainst,powerPlayShotsAgainst,savePercentage,powerPlaySavePercentage,evenStrengthSavePercentage
count,5.665600e+04,5.665600e+04,56656.000000,56656.000000,56656.000000,56656.000000,56656.000000,56656.000000,56656.000000,56656.000000,56656.000000,56656.000000,56656.000000,56656.000000,56656.000000,56517.000000,51913.000000,56459.000000
mean,2.010748e+09,8.468184e+06,16.902146,3369.154564,0.021075,0.000159,0.085851,27.684235,25.203562,4.078032,0.776529,20.342965,0.850925,22.133313,4.693589,90.112653,84.258532,91.039223
std,6.068775e+06,7.417587e+03,11.235659,734.192491,0.145223,0.012603,0.610103,8.825602,8.650819,3.201827,1.046156,7.577797,1.105461,7.757074,3.435020,7.798010,22.668988,8.253391
min,2.000020e+09,8.445275e+06,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.006020e+09,8.462055e+06,8.000000,3525.000000,0.000000,0.000000,0.000000,23.000000,20.000000,2.000000,0.000000,16.000000,0.000000,17.000000,2.000000,87.096774,75.000000,87.500000
50%,2.011021e+09,8.470320e+06,16.000000,3598.000000,0.000000,0.000000,0.000000,28.000000,26.000000,4.000000,0.000000,21.000000,1.000000,22.000000,4.000000,91.428571,92.857143,92.307692
75%,2.016021e+09,8.473607e+06,24.000000,3600.000000,0.000000,0.000000,0.000000,33.000000,31.000000,6.000000,1.000000,25.000000,1.000000,27.000000,7.000000,95.000000,100.000000,96.153846
max,2.019041e+09,8.480925e+06,90.000000,9027.000000,2.000000,1.000000,29.000000,88.000000,85.000000,25.000000,15.000000,76.000000,15.000000,79.000000,28.000000,100.000000,100.000000,100.000000

In [8]:
game_goalie_stats.columns

Index(['game_id', 'player_id', 'team_id', 'timeOnIce', 'assists', 'goals',
       'pim', 'shots', 'saves', 'powerPlaySaves', 'shortHandedSaves',
       'evenSaves', 'shortHandedShotsAgainst', 'evenShotsAgainst',
       'powerPlayShotsAgainst', 'decision', 'savePercentage',
       'powerPlaySavePercentage', 'evenStrengthSavePercentage'],
      dtype='object')

In [9]:
game_goals.columns

Index(['play_id', 'strength', 'gameWinningGoal', 'emptyNet'], dtype='object')

In [10]:
game_officials.columns

Index(['game_id', 'official_name', 'official_type'], dtype='object')

In [11]:
game_penalties.columns

Index(['play_id', 'penaltySeverity', 'penaltyMinutes'], dtype='object')

In [12]:
game_plays_players.columns

Index(['play_id', 'game_id', 'player_id', 'playerType'], dtype='object')

In [13]:
game_plays.columns

Index(['play_id', 'game_id', 'team_id_for', 'team_id_against', 'event',
       'secondaryType', 'x', 'y', 'period', 'periodType', 'periodTime',
       'periodTimeRemaining', 'dateTime', 'goals_away', 'goals_home',
       'description', 'st_x', 'st_y'],
      dtype='object')

In [14]:
game_scratches.columns

Index(['game_id', 'team_id', 'player_id'], dtype='object')

In [15]:
game_shifts.columns

Index(['game_id', 'player_id', 'period', 'shift_start', 'shift_end'], dtype='object')

In [16]:
game_skater_stats.columns

Index(['game_id', 'player_id', 'team_id', 'timeOnIce', 'assists', 'goals',
       'shots', 'hits', 'powerPlayGoals', 'powerPlayAssists', 'penaltyMinutes',
       'faceOffWins', 'faceoffTaken', 'takeaways', 'giveaways',
       'shortHandedGoals', 'shortHandedAssists', 'blocked', 'plusMinus',
       'evenTimeOnIce', 'shortHandedTimeOnIce', 'powerPlayTimeOnIce'],
      dtype='object')

In [17]:
game_teams_stats.columns

Index(['game_id', 'team_id', 'HoA', 'won', 'settled_in', 'head_coach', 'goals',
       'shots', 'hits', 'pim', 'powerPlayOpportunities', 'powerPlayGoals',
       'faceOffWinPercentage', 'giveaways', 'takeaways', 'blocked',
       'startRinkSide'],
      dtype='object')

In [18]:
game.columns

Index(['game_id', 'season', 'type', 'date_time_GMT', 'away_team_id',
       'home_team_id', 'away_goals', 'home_goals', 'outcome',
       'home_rink_side_start', 'venue', 'venue_link', 'venue_time_zone_id',
       'venue_time_zone_offset', 'venue_time_zone_tz'],
      dtype='object')

In [19]:
player_info.columns

Index(['player_id', 'firstName', 'lastName', 'nationality', 'birthCity',
       'primaryPosition', 'birthDate', 'birthStateProvince', 'height',
       'height_cm', 'weight', 'shootsCatches'],
      dtype='object')

In [20]:
team_info.columns

Index(['team_id', 'franchiseId', 'shortName', 'teamName', 'abbreviation',
       'link'],
      dtype='object')